jobs-portal/.editorconfig
jobs-portal/angular.json
jobs-portal/tsconfig.app.json
jobs-portal/tsconfig.json
jobs-portal/tsconfig.spec.json
jobs-portal/.vscode/extensions.json
jobs-portal/.vscode/launch.json
jobs-portal/.vscode/extensions.json
